extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link.js-scroll-trigger(href='/') Inicio
            li.nav-item
                a.nav-link.js-scroll-trigger(href='/bicicletas/create') Añadir bicicleta
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Listado
        //- h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad online de ciclistas urbanos
    // MAP
  section#listado
    .container
        .row  
            .col.d-flex.align-items-center.pt-5.pb-5
                table.table.table-bicis
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Color
                            th(scope='col') Modelo
                            th(scope='col') Ubicacion
                            th(scope='col') 
                    tbody   
                        each bici in bicis
                            tr
                                td= bici.id
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    a(href=`api/bicicletas/update/${bici.id}`) Editar
                                td
                                    //- a.button(href=`../api/bicicletas/delete/${bici.id}`) Eliminar
                                    form.inline(method="post" action=`../api/bicicletas/delete`)
                                        input(type='hidden' id="id" name='id' value= bici.id)
                                        button.link-button(type='submit' name="submit_param" value="submit_value"  class='btn')= 'Eliminar'